body{
    padding: 40px;
}
h1 {
    font-size: 48px;
    font-weight: bold;

}

h1 { 
    color: crimson;}
h2 {
    color: darkgreen;}

    p{
        max-width: 720px;
        margin: 10px 0px 0px 0px; 
    

color: darkblue; 



    max-width: 720px;
    margin: 10px 0px 0px 0px;

background-color: deepskyblue;
border: 10px solid burlywood;
border-radius: 10px;
}